@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

.underprogress{
	height: 100vh;
	background-image: url("../assets/underprogress1.png");
	overflow: hidden;
}


.apology{
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-family: 'Jura';
	font-size: 1.5rem;
	color: white;
	gap:20px;

}

.apology > img{
	height: 55%;
	border-radius: 15px;
}